# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/google-auth-key.json
backend/key.txt

# Temp files generated at runtime
backend/*.webm
backend/*.mp3
backend/*.jpg
backend/input_*.webm
backend/image_*.jpg

# OS
.DS_Store
Thumbs.db
